body {
	background-color: white;
}
#container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

table {
	width: 100%;
	border: 1px solid black;
	background-color: hsla(339,45%,94%,.7);
	border-radius: 10px;
}

td {
	padding: 5px;
}

td.artist {
	white-space: nowrap;
}
p {
	margin: 0px;
}
#npcontainer {
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}
p#np {
	padding: 5px;
	font-size: 22px;
}
#audionp>p,#audionp>audio {
	display: inline-block;
	vertical-align: middle;
}
#buttons {
	display: inline-block;
}
#player {
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: hsla(339,45%,94%,.7);
}
#player>#buttons>div {
	width: 50px;
	height: 50px;
	background-image: url('newcontrols.png');
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
}
#play {
	background-position: 0px 0px;
}
#play:hover {
	background-position: 0 -50px;
}
#pause {
	background-position: -50px 0px;
}
#pause:hover {
	background-position: -50px -50px;
}
.loopoff {
	background-position: -150px 0px;
}
.loopoff:hover {
	background-position: -150px -50px;
}
.loopon {
	background-position: -200px 0px;
}
.loopon:hover {
	background-position: -200px -50px;
}
#stop {
	background-position: -100px 0px;
}
#stop:hover {
	background-position: -100px -50px;
}

#volumecontainer {
	width: 150px;
	display: inline-block;
}

#seekercontainer {
	display: block;
	width: 100%;
	margin: 5px 0;
}
#seeker{
	-webkit-appearance:none;
	-moz-apperance:none;
	width: 100%;
	height:9px;
	border: 4px solid white;
	border-radius: 8px;
	background-color: black;
	cursor: pointer;
}
#volume {
	display: block;
	margin-bottom: 10px;
	-webkit-appearance:none;
	-moz-apperance:none;
	width:100%;
	height:9px;
	border: 4px solid white;
	border-radius: 8px;
	background-color: black;
	cursor: pointer;
}
#volume::-webkit-slider-thumb,#seeker::-webkit-slider-thumb {
	-webkit-appearance:none;
	-moz-appearance:none;
	width:15px;
	height:25px;
	border: 3px solid black;
	border-radius:10px;
	background-color: white;
}

#lyrics {
	padding: 15px;
	white-space: pre;
}
#lyricscontainer {
	margin: 10px 0px;
	border: 1px solid black;
	background-color: hsla(339,45%,94%,.7);
	border-radius: 10px;
}
